{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}View the products you want to purchase from Amelia Mae Cosmetics{% endblock %}

{% block og_title %}Shop for Amelia Mae - Your Shopping Bag{% endblock %}
{% block og_description %}View your products in your shopping bag{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Your Shopping Bag{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid white-smoke py-5">
    <div class="row py-3 text-center">
        <div class="col text-center white-smoke">
            <h2 class="logo-font mt-3 h-100">Your Shopping Bag</h2>
        </div>
    </div>
    
    {% if bag_items %}
    <div class="col-lg-9 px-0 py-5 container-fluid justify-content-center card-rounded">
        <div class="row white-smoke mx-2 card-rounded shadow">
            <div class="col card mx-lg-0 white-smoke card-rounded">
                <div class="row">
                    <div class="col-xl-8 p-5 card-rounded">
                            {% include 'bag/includes/bag_product_card.html' %}
                        </div>
                        <div class="col-xl-4 mimi-pink shadow card-rounded p-5">
                            {% include 'bag/includes/bag_summary.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col py-5 text-center">
            <p>Oops! Looks like your shopping bag is empty!</p>
            <p><strong>Lets continue shopping! <a href="{% url 'product_list' %}">Shop all products</a></strong></p>
        </div>
    {% endif %}   
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).closest('.update-form-traverse').find('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}