{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}View the products you want to purchase from Amelia Mae Cosmetics{% endblock %}

{% block og_title %}Shop for Amelia Mae - Your Shopping Bag{% endblock %}
{% block og_description %}View your products in your shopping bag{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Your Shopping Bag{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}