{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}Amelia Mae Cosmetics offers a luxurious range of skincare products crafted with premium natural ingredients. Explore our collection for effective solutions to all your skincare needs.{% endblock %}

{% block og_title %}Amelia Mae Cosmetics - Premium Skincare Products{% endblock %}
{% block og_description %}Discover luxurious skincare solutions at Amelia Mae Cosmetics. Our premium products are crafted with natural ingredients to cater to all your skincare needs. Shop now!{% endblock %}
{% block og_image %}{% endblock %}
{% block og_url %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
{% endblock %}

{% block extra_title %}Home{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- include each section of the homepage -->
{% include 'home/includes/index_jumboron.html' %}
{% include 'home/includes/index_seo_section_one.html' %}
{% include 'home/includes/index_top_selling.html' %}
{% include 'home/includes/index_seo_section_two.html' %}
{% include 'home/includes/index_products_by_categories.html' %}
{% include 'home/includes/index_articles_section.html' %}
<!-- end of include sections -->

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Animate On Scroll JS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}