<div class="container">
    
    <div id="reviews" class="review-section">
        <div class="row">
            <div class="col-md-6 py-3">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    {% if reviews.count > 0 %}
                    <h4 class="m-0">{{ reviews.count }} Reviews</h4>
                    {% else %}
                    <p>We are in need of honest reviews, leave feedback for others to see!</p>
                    {% endif %}
                </div>
                <table class="stars-counters">
                    <tbody>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">5 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        
                                        <span class="progress-fill" {{ five_stars_progress|safe }}></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num">({{ ratings_count.five_stars }})</td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">4 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" {{ four_stars_progress|safe }}></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num">({{ ratings_count.four_stars }})</td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">3 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" {{ three_stars_progress|safe }}></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num">({{ ratings_count.three_stars }})</td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">2 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" {{ two_stars_progress|safe }}></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num">({{ ratings_count.two_stars }})</td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">1 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" {{ one_stars_progress|safe }}></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num">({{ ratings_count.one_stars }})</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 card card-rounded mimi-pink py-3">
                <h4>Leave your review:</h4>
                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'reviews_form' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" id="rating-value" value="0" name="rating" min="1" max="5">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <label for="comment">Comment:</label>
                        <textarea class="white-smoke w-100" id="comment" name="comment" rows="4"></textarea>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                                <label for="star-rating d-block">Star Rating:</label>
                                <div id="star-rating" class="star-rating d-inline-flex">
                                    <span class="star"><i class="fa-sharp fa-solid fa-star star-rating"></i></span>
                                    <span class="star"><i class="fa-sharp fa-solid fa-star star-rating"></i></span>
                                    <span class="star"><i class="fa-sharp fa-solid fa-star star-rating"></i></span>
                                    <span class="star"><i class="fa-sharp fa-solid fa-star star-rating"></i></span>
                                    <span class="star"><i class="fa-sharp fa-solid fa-star star-rating"></i></span>
                                </div>
                            </div>
                            
                            <button class="d-inline-flex" type="submit">Submit Review</button>
                        </div>
                    </form>
                {% else %}
                    <div class="my-5">
                        <strong>
                            <a class="btn btn-outline-dark" href="{% url 'account_signup' %}">Create an account</a> 
                            <p class="m-5">or</p> 
                            <a class="btn btn-dark rounded px-5" href="{% url 'account_login' %}">login</a> to leave a review
                        </strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="review-list">
        {% if reviews %}
            {% for review in reviews %}
                <ul>
                    <li>
                        <div class="d-flex">
                            <div class="left">
                                <span>
                                    <img src="{{ MEDIA_URL }}amelia-mae-logo-jet.png" class="img-fluid" alt="" />
                                </span>
                            </div>
                            <div class="right">
                                <h4>
                                    {{ review.user.username }}
                                    <span class="text-body-2">
                                        <div class="d-inline-flex ml-2 inline-star-rating-shadow">
                                            <i class="fa-sharp fa-solid fa-star fa-2xl {% if review.rating >= 1 %}gold{% else %}silver{% endif %}"></i> 
                                            <i class="fa-sharp fa-solid fa-star fa-2xl {% if review.rating >= 1.5 %}gold{% else %}silver{% endif %}"></i>
                                            <i class="fa-sharp fa-solid fa-star fa-2xl {% if review.rating >= 2.5 %}gold{% else %}silver{% endif %}"></i>
                                            <i class="fa-sharp fa-solid fa-star fa-2xl {% if review.rating >= 3.5 %}gold{% else %}silver{% endif %}"></i>
                                            <i class="fa-sharp fa-solid fa-star fa-2xl {% if review.rating >= 4.5 %}gold{% else %}silver{% endif %}"></i>
                                        </div>
                                    </span>
                                </h4>
                                <div class="review-description">
                                    <p>{{ review.comment }}</p>
                                </div>
                                {% if created_on == updated_on %}
                                <span class="publish py-3 d-inline-block w-100">Published {{ review.created_on }}</span>
                                {% else %}
                                <span class="publish py-3 d-inline-block w-100">Updated {{ review.updated_on }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>be the first to review this product...</p>
        {% endif %}
    </div>
</div>