<div class="shadow white-smoke h-100 card-rounded">
    <div class="card border-0 card-rounded white-smoke p-1">

        <!-- image -->
        <img
            src="{{ MEDIA_URL }}category.png"
            class="card-img-top product-card-image card-rounded mb-4"
            alt="Amelia Mae luxury products, shop by category"
            >
        <!-- end image -->

        <!-- category name -->
        <div class="card-body border-0 mb-0 white-smoke text-center">
            <span class="card-title card-title-min-height-spacer mb-3"><strong>Shop All {{ category.name|title }}</strong></span>
        </div>
        <!-- end category name -->

    </div>

    <!-- CTA -->
    <div class="card-footer white-smoke py-3 border-top-0 card-rounded">
        <a href="{% url 'product_list' %}?category={{ category.name }}" class="btn card-rounded shadow btn-dark d-flex justify-content-center stretched-link mt-3">Shop {{ category.name|title }}</a>
    </div>
    <!-- end CTA -->
    
</div>