/* -------------- Color Variables ------------- */
:root {
    --mimi-pink: #FFD3E1;
    --cordovan: #7E3E4A;
    --sage-green: #A3B18A;
    --jet: #333333;
    --platinum: #E0E0E0;
    --white-smoke: #f4f4f4;
}

.mimi-pink {
    background-color: var(--mimi-pink);
    color: var(--jet);
}

.cordovan {
    background-color: var(--cordovan);
    color: var(--white-smoke);
}

.sage-green {
    background-color: var(--sage-green);
    color: black;
}

.jet {
    background-color: var(--jet);
    color: var(--white-smoke);
}

.platinum {
    background-color: var(--platinum);
    color: var(--jet);
}

.white-smoke {
    background-color: var(--white-smoke);
    color: var(--jet);
}

.platinum-opacity-low {
    background-color: #e0e0e050;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: var(--mimi-pink);
    margin: 0;
}

nav {
    background-color: var(--platinum);
    z-index: 100;
}

/* --------------- index page styles ------------ */
.jumbotron {
    height: 80vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 116px;
}

.shop-now {
    position: relative;
    top: 320px;
    left: 70px;
    /* position: fixed;
    z-index: -1; */
}

.jumbotron-spacer {
    width: 50%;
    height: 75vh;
    z-index: -10;
}

.nav-logo-image {
    position: absolute;
    top: -10px;
    z-index: 110;
    height: 80px;
    width: auto;
}

.jumbotron-trial {
    background-image: url('../../media/home_page_bg.png');
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
}

.home-jumbotron-image {
    height: 235px;
    width: auto;
    border-radius: 50%;
}

.home-jumbotron-woman {
    position: fixed;
    bottom: 5vh;
    right: -150px;
    height: 70vh;
    width: auto;
    z-index: -9;
}

/* ---------- Bootstrap toasts ------------ */

.toast-container {
    position: relative;
    top: 60px;
    right: 0;
    margin: 1rem;
    z-index: 999999999;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ----------- product card styles --------- */
.card-rounded {
    border-radius: 26px;
}

.card-footer:last-child {
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}

.product-card-image {
    height: 280px;
    width: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.product-detail-card-image {
    height: 70vh;
}

.out-of-stock-overlay {
    position: absolute;
    height: 280px;
    width: 98%;
    object-fit: cover;
    object-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 128px;
    color: var(--white-smoke);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    z-index: 1;
}

.out-of-stock-overlay-product-detail {
    width: 99%;
    height: 99%;
    border: 3px solid var(--mimi-pink);
}

.out-of-stock-text {
    font-size: 28px;
    font-weight: 800;
    color: var(--white-smoke);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.position-absolute-best-seller {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    font-weight: 800;
    top: -20px;
    left: 40px;
}

.position-absolute-best-seller-product-detail {
    top: -33px;
    font-size: 32px;
}

.position-absolute-rating {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    font-weight: 800;
    top: 265px;
    left: 40px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.position-absolute-rating-product-detail {
    top: 90%;
    left: 10px;
}

.inline-star-rating-shadow {
    font-size: 8px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.gold, .star.active {
    color: rgb(255, 255, 85);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.silver {
    color: var(--platinum);
}

.position-absolute-favourite {
    position: absolute;
    z-index: 1;
    font-size: 46px;
    font-weight: 800;
    top: 225px;
    right: 25px;
    color: red;
}

.position-absolute-favourite-product-detail {
    top: 0px;
}

.text-red {
    color: red;
}

.card-title-min-height-spacer {
    height: 85px;
}

.btn-outline-secondary {
    background-color: var(--white-smoke);
}

.product-card-price {
    font-size: 28px;
    font-weight: 800;
}

.product-detail-price {
    font-size: 42px;
}

.qty-input-width {
    width: 60px;
}

.inline-qty-input-width {
    width: 160px;
}

/* --- Ribbon Styles taken from Codepen https://codepen.io/t_afif/pen/gOXLdMR----- */
.ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    
    position: absolute;
    top: 200px;
    left: 9px;
    padding-inline: 10px;
    background: var(--cordovan);
    color: var(--white-smoke);
    border-bottom: var(--f) solid #0005;
    color: #fff;
    line-height: 1.3em;
    font-family: sans-serif;
    font-size: 18px;
    border-right: var(--r) solid #0000;
    clip-path: 
      polygon(100% 0,0 0,0 calc(100% - var(--f)),var(--f) 100%,
        var(--f) calc(100% - var(--f)),100% calc(100% - var(--f)),
        calc(100% - var(--r)) calc(50% - var(--f)/2));
}

.ribbon-product-detail {
    top: 80%;
    left: -6px;
}

/* ----  back to top button ------ */
.btt-button {
    height: 52px;
    width: 52px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* stars */

.star-rating {
    font-size: 18px;
}

.star {
    cursor: pointer;
    color: var(--platinum);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/* --- Bootdey reviews comments section https://www.bootdey.com/snippets/view/reviews-with-comments#html --- */
.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}
.review-list ul li .left span img {
    border-radius: 50%;
}
.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}
.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}
.review-list ul li .right {
    flex: auto;
}
.review-list ul li .review-description {
    margin: 20px 0 0;
}
.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}
.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

.review-section h4 {
    font-size: 20px;
    color: var(--jet);
    font-weight: 700;
}
.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #4a73e8;
    text-align: left;
}
.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: var(--white-smoke);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--white-smoke);
    border-radius: 999px;
}
.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #e9d739;
}
.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}
.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}
.review-section .stars-counters td {
    white-space: nowrap;
}
.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}
.review-section .stars-counters td.star-num {
    color: #4a73e8;
}
.review-section {
    border-bottom: 1px solid #dadbdd;
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 64px;
}
.review-section select, .review-section .select2-container {
    width: 188px !important;
    border-radius: 3px;
}
ul, ul li {
   list-style: none;
   margin: 0px;
}

/* ------  product edit form change link colour for accesibility ------- */
form a {
    color: #333333;
}

.tall-allauth-image {
    height: 100%;
    overflow-x: hidden;
    object-fit: cover;
}

/* ------------  footer styles ------------ */
footer {
    padding: 5em 0 0;
 }

 /* subscribe form idea taken from colorlib */

.subscribe {
      margin-top: -105px; }
.subscribe-form {
      border-radius: 40px;
      background: var(--mimi-pink);
      padding: 3px;
      -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1); }
.subscribe-form .form-group {
        position: relative;
        margin-bottom: 0;
        border-radius: 0; }
.subscribe-form .form-group input {
          background: transparent !important;
          border: none !important;
          outline: none !important;
          color: var(--jet) !important;
          font-size: 16px;
          height: 56px;
          border-radius: 0; }
.subscribe-form .form-group input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, 0.3) !important; }
.subscribe-form .form-group input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, 0.3) !important; }
.subscribe-form .form-group input:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(0, 0, 0, 0.3) !important; }
.subscribe-form .form-group input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, 0.3) !important; }
.subscribe-form .form-group input:focus {
            outline: none !important;
            -webkit-box-shadow: none;
            box-shadow: none; }
.subscribe-form .form-group .submit {
          color: var(--jet) !important;
          display: block;
          width: 150px;
          height: 56px;
          font-size: 14px;
          background: var(--sage-green) !important;
          border: none;
          letter-spacing: 1px;
          text-transform: uppercase;
          border-radius: 40px; }
.subscribe-form .form-group .submit:hover, .footer-02 .subscribe-form .form-group .submit:focus {
            text-decoration: none !important;
            outline: none !important; }
 
/* ----------------------- Allauth form formatting---------------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.form-inner-content input,
.form-inner-content select,
.form-inner-content textarea,
.allauth-form-inner-content input,
.allauth-form-inner-content select {
    border-color: #333333;
    border-radius: 0;
    background-color: #f4f4f4;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.form-inner-content button,
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #f4f4f4;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-inner-content button:hover,
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    color: #f4f4f4;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #333333; /* text-info */
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #333333;
    background-color: #f4f4f4;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* -------------------- Articles Styles ----------------- */
.article-hero-image {
    background-image: url('../../media/main_article_banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-width: 100%;
}

.article-detail-hero-image {
    position: absolute;
    height: 50vh;
    width: 100%;
    position: center center;
    object-fit: cover;
}

.articles-hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.article-detail-hero-spacer {
    height: 50vh;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* ---------  side panel image, allauth pages  ----------- */

.tall-panel-image {
    position: absolute;
    height: auto;
    width: 100%;
    position: center center;
    object-fit: cover;
}
 
@media (min-width: 992px) {
    .header-container {
        padding-top: 145px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }
}