<div class="list-inline-item white-smoke">
    <a class="text-black nav-link d-none d-sm-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center white-smoke">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0 white-smoke" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'product_list' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0 mimi-pink" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button aria-label="Search for products" class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search white-smoke"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options-mobile-top-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center white-smoke">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">{% if request.user.is_authenticated %}{{ request.user }}{% else %}My Account{% endif %}</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 white-smoke" aria-labelledby="user-options-mobile-top-header">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'product_admin' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'favourites_list' %}" class="dropdown-item">My Favourites</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</div>
<div class="list-inline-item">
    <a class="{% if grand_total %}text-dark font-weight-bold{% else %}white-smoke{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>