{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}Inventory - Inbound Stock Accepting: Manage and track incoming stock efficiently with our inventory management system. Streamline your operations and optimize your supply chain with real-time updates.{% endblock %}

{% block og_title %}Inventory - Inbound Stock Accepting | Amelia Mae{% endblock %}
{% block og_description %}Streamline your operations and optimize your supply chain with our inventory management system. Manage and track incoming stock efficiently with real-time updates. Learn more about how we can help you today.{% endblock %}
{% block og_image %}{% endblock %}
{% block og_url %}{% endblock %}

{% block extra_css %}

{% endblock %}

{% block extra_title %}Inbound Deliveries{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="row py-3">
        <div class="col text-center">
            <h1 class="logo-font mt-3 h-100">Product Management - Inbound Stock</h1>
        </div>
    </div>
    <div class="col-12 px-3 py-5 container-fluid">
        <div class="row d-flex justify-content-center py-3 white-smoke">
            {% if inventory_items %}
                <span class="d-lg-none mt-5"><strong>Scroll right to see all product data...</strong></span>

                <!-- Table of product info expecting delivery -->
                <table class="table table-responsive-xl mb-5">
                    <thead>
                        <tr>
                            <th>Supplier</th>
                            <th>Product</th>
                            <th>Ordered on</th>
                            <th>Ordered Quantity</th>
                            <th>Stock Received</th>
                            <th>Confirm Received</th>
                            <th>Stock Cancelled</th>
                            <th>Confirm Cancelled</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in inventory_items %}
                            <tr>
                                <td>
                                    <p>
                                        {{ product.supplier_name }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ product.product.name }}
                                    </p>
                                
                                </td>
                                <td>
                                    <p>
                                        {% if product.last_reorder_date == None %}
                                        <p class="mb-0">Contact Procurement</p>
                                        <p class="mt-0">for details</p>
                                        {% else %}
                                        {{ product.last_reorder_date }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ product.ordered_quantity }}
                                    </p>
                                </td>
                                {% with product as inventory_item %}

                                <!-- delivered input -->
                                <td colspan="2" class="mimi-pink border-left">
                                    <form method="POST" action="{% url 'inbound_stock_received' product.id %}" class="form mb-2" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group">
                                                <div class="input-group inline-qty-input-width input-group-{{ inventory_item.id }}">
                                                    <div class="input-group-prepend">
                                                        <!-- onclick event had to be used here as the decrease button was not triggering the javascript -->
                                                        <button class="decrement-qty-received decrement-qty_received_{{ inventory_item.id }} btn btn-black rounded-0" 
                                                            data-item_id="{{ inventory_item.id }} {{ inventory_item.id }}delivered" id="decrement-qty_{{ inventory_item.id }}delivered"
                                                            aria-label="Quantity decrease" aria-describedby="quantity-description-delivered{{ inventory_item.id }}decrease"
                                                            onclick="handleEnableDisableReceived('{{ inventory_item.id }}')">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div id="quantity-description-delivered{{ inventory_item.id }}increase" class="sr-only">Quantity increase button for delivered items</div>
                                                    <div id="quantity-description-delivered{{ inventory_item.id }}decrease" class="sr-only">Quantity decrease for delivered items</div>
                                                    <div id="quantity-description-delivered{{ inventory_item.id }}" class="sr-only">Quantity input field for delivered items</div>
                                                    <input class="current_order_quantity_{{ inventory_item.id }}" type="hidden" value="{{ inventory_item.ordered_quantity }}">
                                                    <input type="hidden" class="threshold threshold_{{ inventory_item.id }}" value="{{ inventory_item.ordered_quantity }}">
                                                    <input class="form-control qty_input_received id_qty_received_{{ inventory_item.id }}" type="number"
                                                        name="quantity_{{ inventory_item.id }}" value="{{ inventory_item.ordered_quantity }}" min="1" max="{{ inventory_item.ordered_quantity }}"
                                                        data-item_id="{{ inventory_item.id }}" id="id_qty_received_{{ inventory_item.id }}"
                                                        aria-label="quantity-description-delivered" aria-describedby="quantity-description-delivered{{ inventory_item.id }}" readonly>
                                                    <div class="input-group-append">
                                                        <!-- onclick event had to be used here as the increase button was not triggering the javascript -->
                                                        <button class="increment-qty-received increment-qty_received_{{ inventory_item.id }} btn btn-black rounded-0"
                                                            data-item_id="{{ inventory_item.id }} {{ inventory_item.id }}delivered" id="increment-qty_{{ inventory_item.id }}delivered"
                                                            aria-label="Quantity increase" aria-describedby="quantity-description-delivered{{ inventory_item.id }}increase"
                                                            onclick="handleEnableDisableReceived('{{ inventory_item.id }}')">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mimi-pink border-right d-inline-block mr-5">
                                                <button class="btn btn-dark rounded" type="submit">Confirm</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <!-- end delivered input -->
                                
                                <!-- cancelled delivery input -->
                                <td colspan="2" class="platinum border-left">
                                    <form method="POST" action="{% url 'inbound_stock_cancelled' product.id %}" class="form mb-2" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group">
                                                <div class="input-group inline-qty-input-width input-group-{{ inventory_item.id }}2">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty-cancelled decrement-qty_cancelled_{{ inventory_item.id }} btn btn-black rounded-0" 
                                                            data-item_id="{{ inventory_item.id }}" id="decrement-qty_decrease_{{ inventory_item.id }}"
                                                            aria-label="quantity-description-cancelled{{ inventory_item.id }}decrease" aria-describedby="quantity-description-cancelled{{ inventory_item.id }}decrease">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div id="quantity-description-cancelled{{ inventory_item.id }}increase" class="sr-only">Quantity increase button for cancelled items</div>
                                                    <div id="quantity-description-cancelled{{ inventory_item.id }}decrease" class="sr-only">Quantity decrease for cancelled items</div>
                                                    <div id="quantity-description-cancelled{{ inventory_item.id }}" class="sr-only">Quantity input field for cancelled items</div>
                                                    <input class="currently_in_stock_{{ inventory_item.id }}" type="hidden" value="{{ inventory_item.ordered_quantity }}">
                                                    <input type="hidden" class="threshold threshold_{{ inventory_item.id }}" value="{{ inventory_item.ordered_quantity }}">
                                                    <input class="form-control qty_input id_qty_cancelled_{{ inventory_item.id }}" type="number"
                                                        name="quantity_{{ inventory_item.id }}" value="{{ inventory_item.ordered_quantity }}" min="1" max="{{ inventory_item.ordered_quantity }}"
                                                        data-item_id="{{ inventory_item.id }}" id="id_qty_cancelled_{{ inventory_item.id }}"
                                                        aria-label="quantity-description-cancelled{{ inventory_item.id }}" aria-describedby="quantity-description-cancelled{{ inventory_item.id }}" readonly>
                                                    <div class="input-group-append">
                                                        <button class="increment-qty-cancelled increment-qty_cancelled_{{ inventory_item.id }} btn btn-black rounded-0"
                                                            data-item_id="{{ inventory_item.id }}" id="increment-qty_{{ inventory_item.id }}"
                                                            aria-label="quantity-description-cancelled{{ inventory_item.id }}increase" aria-describedby="quantity-description-cancelled{{ inventory_item.id }}increase">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="platinum border-right d-inline-block mr-5">
                                                <button class="btn btn-dark rounded" type="submit">Confirm</button>
                                            </div>
                                        </div>
                                    </form>
                                </td> 
                                <!-- end cancelled delivery input -->

                                {% endwith %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end Table of product info expecting delivery -->

            {% else %}
                <div class="col my-3 text-center">
                    <p>No items are showing as due delivery...</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a href="#top" aria-label="back to top" class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'inventory/includes/inventory_quantity_input_script.html' %}
<script>
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            if(selectedVal === "skin_type_asc" || selectedVal === "skin_type_desc"){
                var sort = "skin_type";
                var direction = selectedVal.split("_")[2];
            } else {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];
            }

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}