{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}{% endblock %}

{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}
{% block og_url %}{% endblock %}

{% block extra_css %}

{% endblock %}

{% block extra_title %}Inventory List{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="row py-3">
        <div class="col text-center">
            <h1 class="logo-font mt-3 h-100">Product Management - Product List</h1>
        </div>
    </div>
    <div class="col px-3 py-5 container-fluid justify-content-center">
        <h2 class="ml-2 my-2">Search inventory using the below....</h2>
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-9 col-lg-10 my-auto order-md-last d-flex flex-wrap justify-content-center justify-content-md-end">
                
                <!-- Search inventory -->
                <div class="col-12 col-sm-6 my-3">
                    <form class="form" method="GET" action="{% url 'view_inventory' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0 mimi-pink shadow" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button aria-label="Search for inventory products" class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search white-smoke"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end Search inventory -->

                <!-- Sort Invnetory -->
                <div class="sort-select-wrapper col-12 col-sm-6 my-3">
                    <label for="sort-selector" class="sr-only">Sort by:</label>
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border white-smoke border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %} shadow">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="min_threshold_asc" {% if current_sorting == 'min_threshold_asc' %}selected{% endif %}>Threshold (low to high)</option>
                        <option value="min_threshold_desc" {% if current_sorting == 'min_threshold_desc' %}selected{% endif %}>Threshold (high to low)</option>
                        <option value="min_order_quantity_asc" {% if current_sorting == 'min_order_quantity_asc' %}selected{% endif %}>MOQ (low to high)</option>
                        <option value="min_order_quantity_desc" {% if current_sorting == 'min_order_quantity_desc' %}selected{% endif %}>MOQ (high to low)</option>
                        <option value="last_reorder_date_asc" {% if current_sorting == 'last_reorder_date_asc' %}selected{% endif %}>Last Ordered (Oldest to Recent)</option>
                        <option value="last_reorder_date_desc" {% if current_sorting == 'last_reorder_date_desc' %}selected{% endif %}>Last Ordered (Recent to Oldest)</option>
                        <option value="total_units_sold_asc" {% if current_sorting == 'total_units_sold_asc' %}selected{% endif %}>Total Sold (low to high)</option>
                        <option value="total_units_sold_desc" {% if current_sorting == 'total_units_sold_desc' %}selected{% endif %}>Total Sold (high to low)</option>
                        <option value="total_lost_or_damaged_asc" {% if current_sorting == 'total_lost_or_damaged_asc' %}selected{% endif %}>Total Lost (low to high)</option>
                        <option value="total_lost_or_damaged_desc" {% if current_sorting == 'total_lost_or_damaged_desc' %}selected{% endif %}>Total Lost (high to low)</option>
                        <option value="total_revenue_generated_asc" {% if current_sorting == 'total_revenue_generated_asc' %}selected{% endif %}>Total Revenue (low to high)</option>
                        <option value="total_revenue_generated_desc" {% if current_sorting == 'total_revenue_generated_desc' %}selected{% endif %}>Total Revenue (high to low)</option>
                        <option value="is_expecting_delivery_desc" {% if current_sorting == 'is_expecting_delivery_desc' %}selected{% endif %}>Awaiting Delivery (Deliveries First)</option>
                        <option value="is_expecting_delivery_asc" {% if current_sorting == 'is_expecting_delivery_asc' %}selected{% endif %}>Awaiting Delivery (Deliveries Last)</option>
                    </select>
                </div>
                <!-- end Sort Invnetory -->
            </div>
            <div class="col col-md-3 col-lg-2 order-md-first my-3">

                <!-- Reset search and sort -->
                <a href="{% url 'view_inventory' %}" class="btn btn-dark logo-font font-weight-bold nav-link text-black shadow">
                    <i class="fa-solid fa-arrows-rotate"></i> Reset
                </a>
                <!-- end Reset search and sort -->

            </div>
        </div>
        <div class="d-flex p-2 justify-content-around">

            <!-- product list length and show only delivery expected/not expected -->
            <p class="text-dark mt-3 d-inline">
                {{ inventory_item_list|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
            <a href="{% url 'view_inventory' %}?is_expecting_delivery=True" class="btn btn-outlin-dark border-dark d-none d-md-block my-2 logo-font font-weight-bold text-black shadow">
                Delivery Expected
            </a>
            <a href="{% url 'view_inventory' %}?is_not_expecting_delivery=True" class="btn btn-outlin-dark border-dark d-none d-md-block my-2 logo-font font-weight-bold text-black shadow">
                No Delivery Expected
            </a>
            <!-- end product list length and show only delivery expected/not expected -->

        </div>

        <div class="row py-3 white-smoke">
            {% if inventory_item_list %}
                <span class="d-lg-none mt-5"><strong>Scroll right to see all product details and 'Delete' button.</strong></span>

                <!-- Inventory table -->
                <table class="table table-responsive mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Order Stock</th>
                            <th scope="col">Product</th>
                            <th scope="col">Reorder Threshold</th>
                            <th scope="col">MOQ</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Supplier Email</th>
                            <th scope="col">Reordered on</th>
                            <th scope="col">Expecting Delivery</th>
                            <th scope="col">Cost Per Unit</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Total Sold</th>
                            <th scope="col">Lost / Damaged</th>
                            <th scope="col">Total Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in inventory_item_list %}
                            <tr>
                                <!-- Order stock link -->
                                <td class=" mimi-pink border-dark text-center">
                                    <a href="{% url 'manual_stock_order' product.id %}" class="text-dark">
                                        <p>Create</p>
                                        <i class="fa-solid fa-arrow-up-wide-short fa-xl"></i> 
                                        <p class="my-1">Order</p>
                                    </a>
                                </td><!-- end order stock link -->

                                <!-- edit links -->
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.product.name }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.min_threshold }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.min_order_quantity }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.supplier_name }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.supplier_email }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {% if product.last_reorder_date == None %}
                                        <p>N/A</p>
                                        {% else %}
                                        {{ product.last_reorder_date }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a aria-label="expecting delivery check" href="{% url 'edit_inventory_item' product.id %}">
                                        {% if product.is_expecting_delivery %}
                                        <i class="fa-solid fa-square-check fa-xl text-success"></i>
                                        {% else %}
                                        <i class="fa-solid fa-square-xmark fa-xl text-danger"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        £{{ product.cost_per_product }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.product.quantity }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.total_units_sold }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        {{ product.total_lost_or_damaged }}
                                    </a>
                                </td>
                                <td>
                                    <a class="text-dark" href="{% url 'edit_inventory_item' product.id %}">
                                        £{{ product.total_revenue_generated }}
                                    </a>
                                </td><!-- end edit links -->

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end Inventory table -->

            {% else %}
                <div class="col my-3 text-center">
                    <p>Please amend your search term and try again...</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a href="#top" aria-label="back to top" class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
    
            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                if(selectedVal === "min_threshold_asc" || selectedVal === "min_threshold_desc"){
                    var sort = "min_threshold";
                    var direction = selectedVal.split("_")[2];
                } else if(selectedVal === "min_order_quantity_asc" || selectedVal === "min_order_quantity_desc"){
                    var sort = "min_order_quantity";
                    var direction = selectedVal.split("_")[3];
                } else if(selectedVal === "last_reorder_date_asc" || selectedVal === "last_reorder_date_desc"){
                    var sort = "last_reorder_date";
                    var direction = selectedVal.split("_")[3];
                } else if(selectedVal === "total_units_sold_asc" || selectedVal === "total_units_sold_desc"){
                    var sort = "total_units_sold";
                    var direction = selectedVal.split("_")[3];
                } else if(selectedVal === "total_revenue_generated_asc" || selectedVal === "total_revenue_generated_desc"){
                    var sort = "total_revenue_generated";
                    var direction = selectedVal.split("_")[3];
                } else if(selectedVal === "is_expecting_delivery_asc" || selectedVal === "is_expecting_delivery_desc"){
                    var sort = "is_expecting_delivery";
                    var direction = selectedVal.split("_")[3];
                } else if(selectedVal === "total_lost_or_damaged_asc" || selectedVal === "total_lost_or_damaged_desc"){
                    var sort = "total_lost_or_damaged";
                    var direction = selectedVal.split("_")[4];
                } else {
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];
                }
    
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
    
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
    
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}