{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}not default{% endblock %}

{% block og_title %}not default{% endblock %}
{% block og_description %}not default{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}

{% endblock %}

{% block extra_title %}Home{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<h1>helloooooooo</h1>
{% endblock %}

{% block postloadjs %}
{% endblock %}