{% extends "account/base.html" %}

{% load i18n %}

<!-- Head tags -->
{% block meta_description %}Set your Amelia Mae Cosmetics account passord and keep your data secure{% endblock %}

{% block og_title %}Set Password{% endblock %}
{% block og_description %}Set your Amelia Mae Cosmetics account passord and keep your data secure{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Set Password{% endblock %}
<!-- end Head tags -->

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_heading_title %}Set Password{% endblock %}

{% block inner_content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
