{% extends "account/base.html" %}

{% load i18n %}

<!-- Head tags -->
{% block meta_description %}Change your password, keep your data secure with Amelia Mae Cosmetics{% endblock %}

{% block og_title %}Change password{% endblock %}
{% block og_description %}Change your password, keep your data secure with Amelia Mae Cosmetics{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Change Password{% endblock %}
<!-- end Head tags -->

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_heading_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
