{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

<!-- Head tags -->
{% block meta_description %}Password reset, forgtotten your password? Amelia Mae has you covered{% endblock %}

{% block og_title %}Password Reset{% endblock %}
{% block og_description %}Password reset, forgtotten your password? Amelia Mae has you covered{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Password Reset{% endblock %}
<!-- end Head tags -->

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_heading_title %}Password Reset{% endblock %}

{% block inner_content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
