{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}Amelia Mae Cosmetics Articles, learn about your favourite brand and their world leading products{% endblock %}

{% block og_title %}Amelia Mae Cosmetics Articles List{% endblock %}
{% block og_description %}Amelia Mae Cosmetics Articles, learn about your favourite brand and their world leading products, keep up to date and in the know!{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Articles & News{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="p-5 text-center article-hero-image rounded-3">
        <div class="articles-hero-overlay card-rounded p-3">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h2 class="logo-font mt-3 h-100">Amelia Mae Cosmetics Articles</h2>
                <h3 class="mb-3 d-none d-sm-none d-md-block">Skincare Information & News</h3>
                <a class="btn btn-outline-light btn-lg my-3" href="{% url 'product_list' %}" role="button">Shop Now</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <h4 class="logo-font mt-3 h-100">SEO title in here</h4>
        </div>
    </div>
    <div class="col px-3 py-5 container-fluid justify-content-center">
        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
                <a class="btn btn-outline-black rounded-0" href="{% url 'product_list' %}">Cancel</a>
            <button class="btn btn-black rounded-0" type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}