{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}Amelia Mae Cosmetics Articles, learn about your favourite brand and their world leading products{% endblock %}

{% block og_title %}Amelia Mae Cosmetics Articles List{% endblock %}
{% block og_description %}Amelia Mae Cosmetics Articles, learn about your favourite brand and their world leading products, keep up to date and in the know!{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Articles & News{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="p-5 text-center article-hero-image rounded-3">
        <div class="articles-hero-overlay card-rounded p-3">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h2 class="logo-font mt-3 h-100">Amelia Mae Cosmetics Articles</h2>
                <h3 class="mb-3 d-none d-sm-none d-md-block">Skincare Information & News</h3>
                <a class="btn btn-outline-light btn-lg my-3" href="{% url 'product_list' %}" role="button">Shop Now</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <h4 class="logo-font mt-3 h-100">SEO title in here</h4>
        </div>
        <a class="btn btn-dark my-3 mt-5 mr-5" href="{% url 'add_article' %}" role="button">Add Article</a>
    </div>
    <div class="col py-5 px-0 justify-content-center">
        {% include 'products/includes/products_sorting.html' %}
        <div class="row py-3 white-smoke">
            {% if articles %}
                <div class="col px-0 container">
                    {% for article in articles %}
                    <div class="row card-rounded mimi-pink my-5 mx-2 p-2">
                        {% if article.image %}
                            <img class="image-fluid product-card-image col-12 col-md-3 card-rounded shadow p-0" src="{{ MEDIA_URL }}{{ article.image }}" alt="">
                        {% else %}
                            <img class="image-fluid product-card-image col-12 col-md-3 card-rounded shadow p-0" src="{{ MEDIA_URL }}no_image.png" alt="">
                        {% endif %}
                        <div class="col-md-{% if request.user.is_superuser %}7{% else %}9{% endif %} my-5">
                            <p class="my-4"><strong>{{ article.title }}</strong></p>
                            <p>{{ article.content|truncatechars:150 }}</p>
                            <a class="stretched-link" href="{% url 'article_detail' article.id %}">Continue reading article...</a>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="col-md-2 my-5 py-5">
                            <a class="my-5 mimi-pink stretched-link" href="{% url 'edit_article' article.id %}">
                                <i class="fa-solid fa-trash-can pl-4"></i>
                                <p>Edit / Delete</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    
                    {% endfor %}
                </div>
                
            {% else %}
                <div class="col my-3 text-center">
                    <p>No articles to view at this time...</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                if(selectedVal === "skin_type_asc" || selectedVal === "skin_type_desc"){
                    var sort = "skin_type";
                    var direction = selectedVal.split("_")[2];
                } else {
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];
                }

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}