{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}Amelia Mae Cosmetics - {{ article.content|truncatechars:40 }}{% endblock %}

{% block og_title %}Amelia Mae Cosmetics {{ article.title }}{% endblock %}
{% block og_description %}Amelia Mae Cosmetics - {{ article.content|truncatechars:50 }}{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}{{ article.title }}{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="row p-5">
        <div class="article-detail-hero-spacer"></div>
        <div class="col-12 d-flex justify-content-center">
                <!-- make image jumbotron/hero image -->
            {% if article.image %}
                <img class="article-detail-hero-image card-rounded shadow" src="{{ MEDIA_URL }}{{ article.image }}" alt="{{ article.title|truncatechars:50 }}">
            {% else %}
                <img class="article-detail-hero-image card-rounded shadow" src="{{ MEDIA_URL }}no_image.png" alt="">
            {% endif %}
        </div>
    </div>
    {% if request.user.is_superuser %}
        <div class="row pt-3 justify-content-center">
            <a class="btn btn-dark mr-5" href="{% url 'edit_article' article.id %}" role="button">Edit this Article</a>
        </div>
    {% endif %}
    <div class="row py-3 justify-content-center">
        <a class="btn btn-outline-dark mr-5" href="{% url 'articles_list' %}" role="button">Back to all articles</a>
    </div>
    <div class="col py-5 px-0">
    {% if article %}
        <div class="row py-3 white-smoke">
            <h1 class="px-5"><strong>{{ article.title }}</strong></h1>
            <h2 class="px-5 my-5 overflow-hidden"><small>{{ article.content|safe }}</small></h2>
        </div>
        <!-- col again then the next 2 rows inside it? -->
        <div class="row justify-content-center">
            {% if article.product.id %}
                <div class="col-md-4 col-lg-3 my-5">
                    {% with article.product as product %}
                    {% include 'products/includes/product_list_card.html' %}
                    {% endwith %}
                </div>
            {% endif %}
            {% if article.category %}
                <div class="col-md-4 col-lg-3 my-5">
                    {% with article.category as category %}
                    {% include 'products/includes/product_category_card.html' %}
                    {% endwith %}
                </div>
            {% endif %}
            {% if article.skin_type %}
                <div class="col-md-4 col-lg-3 my-5">
                    {% with article.skin_type as skin_type %}
                    {% include 'products/includes/product_skin_type_card.html' %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
        <div class="row mt-5 justify-content-center">
            <a class="btn btn-outline-dark mr-5" href="{% url 'product_list' %}" role="button">Shop All Amelia Mae Products!</a>
        </div>
    {% else %}
        <div class="col my-3 text-center">
            <p>No article to view at this time...</p>
        </div>
    {% endif %}
    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
{% endblock %}