{% load static %}
<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="Bowles development">
        {% endblock %}

        <meta name="description" content="Amelia Mae Cosmetics {% block meta_description %}{% endblock %}">

        <!-- Open Graph meta tags -->
        <meta property="og:title" content="{% block og_title %}Amelia Mae Cosmetics - Premium Skincare Products{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Discover luxurious skincare solutions at Amelia Mae Cosmetics. Our premium products are crafted with natural ingredients to cater to all your skincare needs. Shop now!{% endblock %}">
        <meta property="og:image" content="{% block og_image %}{{ MEDIA_URL }}amelia-mae-logo-jet.png{% endblock %}">
        <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}">
        <!-- end Open Graph meta tags -->

        {% block core_css %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0/dist/cookieconsent.css" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block core_js %}
            <script src="https://kit.fontawesome.com/ce872f0001.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_corejs %}
        {% endblock %}

        <title>Amelia Mae Cosmetics | {% block extra_title %}{% endblock %}</title>

    </head>
    <body>

        <!-- Navbar -->
        <header class="container-fluid white-smoke fixed-top">
            <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link white-smoke">
                        <img class="nav-logo-image align-top" src="{{ MEDIA_URL }}amelia-mae-logo-jet.png" alt="Amelia Mae Logo, linking to the home page">
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form class="form" method="GET" action="{% url 'product_list' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0 mimi-pink" type="text" name="q" placeholder="Search Amelia Mae Products...">
                            <div class="input-group-append">
                                <button aria-label="search for products" class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center white-smoke">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">{% if request.user.is_authenticated %}{{ request.user }}{% else %}My Account{% endif %}</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 white-smoke" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'product_admin' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'favourites_list' %}" class="dropdown-item">My Favourites</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}white-smoke{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row white-smoke">
                <nav class="navbar navbar-expand-lg navbar-light white-smoke w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <div id="delivery-banner" class="row text-center mimi-pink">
                <div class="col">
                    <h4 class="my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
                </div>            
            </div>
        </header>
        <div class="nav-spacer"></div>
        <!-- end Navbar -->

            {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        {% with message.level as level %}
                            {% if level == 40 %}
                                {% include 'includes/toasts/toast_error.html' %}
                            {% elif level == 30 %}
                                {% include 'includes/toasts/toast_warning.html' %}
                            {% elif level == 25 %}
                                {% include 'includes/toasts/toast_success.html' %}
                            {% else %}
                                {% include 'includes/toasts/toast_info.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
                
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    
    
    <!-- Footer -->
        <footer class="jet">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- Mailchimp Subscribe -->
                    <div class="col-10 col-lg-6" id="mc_embed_signup">
                        <div class="subscribe mb-5" id="mc_embed_signup_scroll">
                            <form action="https://herokuapp.us22.list-manage.com/subscribe/post?u=048ccefe665cf49ee66e035be&amp;id=f4b098b149&amp;f_id=0049c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form" target="_blank">
                                <div class="form-group d-flex">
                                    <input type="email" name="EMAIL" id="mce-EMAIL" required="" class="form-control rounded-left required email" placeholder="* Enter email address">
                                    <input type="submit" value="Subscribe" id="mc-embedded-subscribe" class="form-control button submit px-3">
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <!-- /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ -->
                                    <input type="text" name="b_048ccefe665cf49ee66e035be_f4b098b149" tabindex="-1" value="">
                                </div>
                            </form>
                            <div class="row justify-content-center">
                                <div class="col ml-5 mt-3">
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response jet" id="mce-error-response" style="display: none;"></div>
                                        <div class="response jet" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text jet"></span>
                                    <span><strong>Subscribe to our newsletter for exclusive deals!</strong></span>
                                    <p class="text-right">
                                        <a href="http://eepurl.com/iKK94A" title="Mailchimp - email marketing made easy and fun">
                                            <span style="display: inline-block; background-color: black; border-radius: 4px;">
                                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center; background-color: #333333;">
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end MailChimp Subscribe -->

                </div>
			</div>

            <div class="container jet p-4">
                <div class="row my-4">
                    <!--Grid column logo and slogan-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        
                        <div class="rounded-circle bg-white shadow-xl d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                            <img src="{{ MEDIA_URL }}amelia-mae-logo-mimi-pink.png" height="150" alt="Pink Amelia Mae logo on dary grey background"
                                loading="lazy" />
                        </div>
                        <p class="text-center">Amelia Mae, skincare that works</p>
                        
                    </div>
                    <!-- end Grid column -->
                    <!--Grid column useful links-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <span class="text-uppercase mb-5"><strong>Useful Links</strong></span>

                        <ul class="list-unstyled mt-3">
                            <li class="mb-2">
                                <a href="{% url 'profile' %}" class="text-white"><i class="fas fa-bag-shopping"></i> Profile &amp; Order History</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'favourites_list' %}" class="text-white"><i class="fas fa-bag-shopping"></i> My Favourites</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'product_list' %}?is_best_seller=True" class="text-white"><i class="fas fa-bag-shopping"></i> Best Sellers</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'shipping_policy' %}" class="text-white"><i class="fas fa-bag-shopping"></i> Shipping Policy</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'return_and_refund_policy' %}" class="text-white"><i class="fas fa-bag-shopping"></i> Refunds & Returns</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end Grid column -->
                    <!--Grid column useful links continued-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <span class="text-uppercase mb-4">Useful Links</span>
                        
                        <ul class="list-unstyled mt-3">
                            <li class="mb-2">
                                <a href="{% url 'privacy_policy' %}" class="text-white"><i class="fa-solid fa-link"></i> Privacy Policy</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'terms_and_conditions' %}" class="text-white"><i class="fa-solid fa-link"></i> Terms &amp; Conditions</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'disclaimer' %}" class="text-white"><i class="fa-solid fa-link"></i> Disclaimer</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'cookie_policy' %}" class="text-white"><i class="fa-solid fa-link"></i> Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end Grid column -->
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <span class="text-uppercase mb-4">Contact</span>
                        
                        <ul class="list-unstyled mt-3">
                            <li>
                                <p class="mb-1"><i class="fas fa-map-marker-alt pe-2"></i> Suite 5, Arundel House,</p>
                            </li>
                            <li class="ml-3">Ackhurst Business Park,</li>
                            <li class="ml-3">Foxhole Road,</li>
                            <li class="ml-3">Chorley</li>
                            <li class="ml-3">PR71NY</li>
                            <li class="mt-2">
                                <a rel="nofollow" href="mailto:david.bowles84272@outlook.com" class="text-light">
                                    <p><i class="fas fa-envelope pe-2 mb-0"></i> david.bowles84272@outlook.com</p>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="tel:+447783409714" class="text-light">
                                    <p><i class="fas fa-phone pe-2"></i> + 44 7783409714</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end Grid column -->
                </div>
                <!--Grid row-->
            </div>
            <!-- end Grid container -->

            <!-- Copyright -->
            <div class="text-center p-4 mimi-pink">
                © 2024 Copyright:
                <a class="text-decoration-none mimi-pink" rel="external nofollow noopener" target="_blank" href="https://github.com/Bowlesy666/">Bowles Development</a>
            </div>
            
		</footer>
        <!-- end Footer -->

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>

        <!-- Mailchimp JS -->
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
            (function($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0]='EMAIL';
                ftypes[0]='email';
                fnames[1]='FNAME';
                ftypes[1]='text';
                fnames[2]='LNAME';
                ftypes[2]='text';
                fnames[3]='ADDRESS';
                ftypes[3]='address';
                fnames[4]='PHONE';
                ftypes[4]='phone';
                fnames[5]='BIRTHDAY';
                ftypes[5]='birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
        {% endblock %}
    </body>
</html>