<div class="mimi-pink card-rounded text-right">
    <h2 class="mb-5">Shopping Bag Summary</h2>
    <h3 class="pt-5 text-nowrap"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h3>
    <h4 class="mb-5">Delivery: £{{ delivery|floatformat:2 }}</h4>
    <h5 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
    {% if free_delivery_delta > 0 %}
        <p class="mb-1">
            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
        </p>
    {% endif %}
    
</div>
<div class="mx-0 px-0 w-100 spacer">
</div>