<div class="platinum pt-5">
    <h5 class="ml-5 pl-5">Skincare Articles, Amelia Mae</h5>
    <div class="p-5">
        <div class="card-deck mb-5"
            data-aos="fade-in"
            data-aos-delay="50"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-once="false"
            data-aos-anchor-placement="center-bottom"
            >
            <div class="card white-smoke shadow-lg">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Article title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer white-smoke">
                    <strong class="text-muted">link to post</strong>
                </div>
            </div>
            <div class="card white-smoke shadow-lg">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Article title</h5>
                    <p class="card-text">Truncated article text so there is a couple of lines. Truncated article text so there is a couple of lines...</p>
                </div>
                <div class="card-footer white-smoke">
                    <strong class="text-muted">link to post</strong>
                </div>
            </div>
        </div>
        <a class="m-5 mt-5 shadow" href="#">
            <span class="btn mimi-pink">View all Articles -></span>
        </a>
    </div>
</div>