<div class="jumbotron mb-0 mimi-pink">
    <div class="row">
        <div class="col-6 mx-5 px-lg-5">
            <img class="ml-0 ml-md-2 mb-5 home-jumbotron-image shadow-lg" src="media/amelia-mae-logo-jet.png" alt="Amelia Mae Logo on a pink background">
        </div>
        <div class="col-4 mr-5">
            <img class="home-jumbotron-woman" src="media/woman-using-amelia-mae-eye-cream-side-view.png" alt="A woman using Amelia Mae eye cream">
        </div>
    </div>
</div>
<div class="jumbotron-spacer">
    <div class="shop-now">
        <h4 class="mb-5"
        data-aos="fade-out"
        data-aos-delay="0"
        data-aos-duration="1"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="bottom-bottom"
        >
            <a href="#" class="shop-now-button shadow btn btn-dark btn-lg rounded-0 text-uppercase ml-5 py-3">Shop Now</a>
        </h4>
    </div>
</div>