{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}not default{% endblock %}

{% block og_title %}Shop for Amelia Mae Skincare{% endblock %}
{% block og_description %}Explore our wide range of high-quality skincare products designed to rejuvenate and nourish your skin. Find the perfect solution for your skincare needs today!{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Shop all skincare products{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mimi-pink">
    <div class="row py-3">
        <div class="col text-center mimi-pink">
            <h2 class="logo-font mt-3 h-100">Shop Amelia Mae Products</h2>
        </div>
    </div>
    <div class="col-xl-9 px-0 mimi-pink container-fluid justify-content-center">
        {% for c in current_categories %}
            {% if c.friendly_name != None %}
                <a class="category-badge text-decoration-none" href="{% url 'product_list' %}?category={{ c.name }}">
                    <span class="px-4 py-2 mt-2 badge mimi-pink
                    card-rounded border border-dark"><strong>{{ c.friendly_name }}</strong></span>
                </a>
            {% endif %}
        {% endfor %}
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border white-smoke border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        <option value="skin_type_asc" {% if current_sorting == 'skin_type_asc' %}selected{% endif %}>Skin Type (A-Z)</option>
                        <option value="skin_type_desc" {% if current_sorting == 'skin_type_desc' %}selected{% endif %}>Skin Type (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'product_list' %}">Back to all products</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <div class="row py-3 mimi-pink">
            {% if products %}
                {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3 my-3 card-rounded">
                        <div class="shadow white-smoke card-rounded">
                            {% if product.is_best_seller %}
                            <span class="position-absolute-best-seller rounded">BEST SELLER <i class="fa-solid fa-award"></i></span>
                            {% endif %}
                            <div class="card border-0 card-rounded white-smoke p-1">
                                <img
                                    src="{% if product.image.url %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}no_image.png{% endif %}"
                                    class="card-img-top product-card-image card-rounded mb-4"
                                    alt="{% if product.name %}{{ product.name }}{% else %}Amelia Mae luxury product{% endif %}"
                                    >
                                {% if product.is_out_of_stock %}
                                <span class="out-of-stock-overlay card-rounded text-center">
                                    <i class="fa-solid fa-ban fa-flip-horizontal"></i>
                                    <p class="out-of-stock-text">Currently Out Of Stock</p>
                                </span>
                                {% endif %}
                                <div class="card-body border-0 mb-0 white-smoke">
                                    <h5 class="card-title card-title-min-height-spacer mb-3">{{ product.name|truncatechars:50 }}</h5>
                                    <span class="product-card-price">£ {{ product.price }}</span>
                                    <a href="{% url 'product_detail' product.id %}" class="btn card-rounded shadow btn-outline-secondary d-flex justify-content-center stretched-link mt-3">View Product</a>
                                </div>
                            </div>
                            <span class="position-absolute-rating">
                                <i class="fa-sharp fa-solid fa-star {% if product.rating >= 1 %}gold{% else %}silver{% endif %}"></i>
                                <i class="fa-sharp fa-solid fa-star {% if product.rating >= 1.5 %}gold{% else %}silver{% endif %}"></i>
                                <i class="fa-sharp fa-solid fa-star {% if product.rating >= 2.5 %}gold{% else %}silver{% endif %}"></i>
                                <i class="fa-sharp fa-solid fa-star {% if product.rating >= 3.5 %}gold{% else %}silver{% endif %}"></i>
                                <i class="fa-sharp fa-solid fa-star {% if product.rating >= 4.5 %}gold{% else %}silver{% endif %}"></i>
                            </span>
                            <span class="position-absolute-favourite">
                                <!-- need to add the favourite model/field and logic here -->
                                <!-- <i class="fa-solid fa-heart"></i> -->
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            {% if product.is_discontinued and not product.is_out_of_stock %}
                            <span class="ribbon ribbon-left px-5 shadow">Discontinued!<br>Only <strong>{{ product.quantity }}</strong> left</span>
                            {% elif product.quantity >= 1 and product.quantity <= 25 %}
                            <span class="ribbon ribbon-left px-5">Hurry!<br>Only <strong>{{ product.quantity }}</strong> left</span>
                            {% endif %}
                            <div class="card-footer white-smoke py-4 border-top-0 card-rounded">
                                {% if product.quantity < 1 and not product.is_discontinued %}
                                <a href="#" class="btn shadow btn-dark d-flex justify-content-center card-rounded">Restock Alert</a>
                                <p class="mt-1 ml-1"><small>Get notified when this product is restocked!</small></p>
                                {% elif product.quantity < 1 and product.is_discontinued %}
                                <p class="py-1 my-1 shadow platinum d-flex justify-content-center card-rounded">Discontinued</p>
                                {% else %}
                                <form class="form" action="{% url 'quick_add_to_bag' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit"  class="btn shadow btn-dark w-100 d-flex justify-content-center card-rounded" value="Quick Add">
                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col my-3 text-center">
                    <p>Please amend your search term and try again...</p>
                    <p>Alternatively, why not check out our <a href="{% url 'product_list' %}?is_best_seller=True">Best Sellers</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>

{% include 'home/includes/index_articles_section.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                if(selectedVal === "skin_type_asc" || selectedVal === "skin_type_desc"){
                    var sort = "skin_type";
                    var direction = selectedVal.split("_")[2];
                } else {
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];
                }

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
