{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}not default{% endblock %}

{% block og_title %}Shop for Amelia Mae Skincare{% endblock %}
{% block og_description %}Explore our wide range of high-quality skincare products designed to rejuvenate and nourish your skin. Find the perfect solution for your skincare needs today!{% endblock %}
{% block og_image %}not default{% endblock %}
{% block og_url %}not default{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Shop all skincare products{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block postloadjs %}
{% endblock %}