{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid white-smoke py-5">
    <div class="row py-3 text-center">
        <div class="col text-center white-smoke">
            <h2 class="logo-font mt-3 h-100">Product Admin - {% block page_heading_title %}{% endblock %}</h2>
        </div>
    </div>
    <div class="col-lg-9 px-0 py-5 mb-5 container-fluid justify-content-center card-rounded">
        <div class="row white-smoke mx-2 card-rounded shadow">
            <div class="col card mx-lg-0 white-smoke card-rounded">
                <div class="row">
                    <div class="col-xl-8 p-5 card-rounded form-inner-content">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                <div class="d-none d-xl-block col-xl-4 mimi-pink shadow card-rounded p-2">
                    <img class="img-fluid card-rounded shadow" src="{{ MEDIA_URL }}tall_allauth.png" alt="Woman with great skin, amelia mae cosmetics">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}