{% extends 'base.html' %}
{% load static %}

<!-- Head tags -->
{% block meta_description %}not default{% endblock %}

{% block og_title %}Shop for Amelia Mae Skincare{% endblock %}
{% block og_description %}Explore our wide range of high-quality skincare products designed to rejuvenate and nourish your skin. Find the perfect solution for your skincare needs today!{% endblock %}
{% block og_image %}{% endblock %}
{% block og_url %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Luxury skincare products{% endblock %}
<!-- end Head tags -->

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mimi-pink">
    <div class="row py-3">

        <!-- Page Header -->
        <div class="col text-center mimi-pink">
            <h1 class="logo-font mt-3 h-100">Amelia Mae Luxury Skincare</h1>
        </div>
        <!-- end Page Header -->

    </div>
    <div class="col-xl-9 px-0 mimi-pink container-fluid justify-content-center">

        <!-- Product sort -->
        {% include 'products/includes/products_sorting.html' %}
        <!-- end Product sort -->

        <!-- Product cards -->
        <div class="row py-3 mimi-pink">
            {% if products %}
                {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3 my-3 card-rounded">
                        {% include 'products/includes/product_list_card.html' %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col my-3 text-center">
                    <p>Please amend your search term and try again...</p>
                    <p>Alternatively, why not check out our <a href="{% url 'product_list' %}?is_best_seller=True">Best Sellers</a></p>
                </div>
            {% endif %}
        </div>
        <!-- end Product cards -->

    </div>
    <div class="btt-button shadow-sm card-rounded border cordovan border-black">
        <a href="#top" aria-label="back to top" class="btt-link d-flex cordovan card-rounded h-100">
            <i class="fas fa-arrow-up cordovan mx-auto my-auto"></i>
        </a>	
    </div>
</div>

{% include 'home/includes/index_articles_section.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                if(selectedVal === "skin_type_asc" || selectedVal === "skin_type_desc"){
                    var sort = "skin_type";
                    var direction = selectedVal.split("_")[2];
                } else {
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];
                }

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
